* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@keyframes text-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#myCanvas {
  border: 5px solid;
  margin-left: auto;
  margin-right: auto;
  background-image: url(sarvendara-lv-game-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#marioMap {
  display: none;
}
#mario {
  display: none;
  border: 1px;
}

#luigi {
  display: none;
}

#rocket {
  display: none;
}
